$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "compass-mixins/lib/_compass.scss";
// endbower


$color_main_a: #bec8b7;
$color_main_b: #eac6ae;
