@import "base";
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,
body {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

body {
    background-color: $color_main_a;
    font-family: $font_regular;
    font-size: 13px;
    background-image: $homefig;
    background-repeat: no-repeat;
    background-position: center right 200px;
    background-size: 600px auto;
}

a {
    outline: 0 !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 1) {
    body {
        font-size: 13px;
    }
}

.container-fluid {
    height: 100%;
    padding: 0px;
}

.sidebar {
    /* background-color: $color_main_a;*/

    height: 100%;
    text-align: right;
    @extend .col-sm-5;
    @extend .col-md-4;
    @extend .col-lg-3;
    @media (min-width: $screen-lg-min) {
        max-width: 450px;
    }
    .icon-bar {
        background-color: #808080;
    }
    .navbar {
        padding-top: 15px;
        //padding-left: 15px;
        a {
            color: $color_main_font;
            font-size: 1.6em;
        }
        .navbar-header {
            width: 100%;
            font-size: 2em;
        }
        #mainMenu {
            padding: 0px;
        }
        .navbar-nav {
            margin-left: 0px;
            padding-right: 15px;
            border-right: 1px solid rgba(255, 255, 255, 0.21);

            > li {
                float: none;
                a {
                    padding: 15px 0px;
                    font-family: $font_condensed;
                }
                a:target {
                    background-color: red;
                }
                a:hover, a:focus{
                    background: none;
                    color: white;
                }
                .activeMenuItem {
                    color: $color_main_active_font;
                }
            }

        }
        .navbar-brand {
            width: 100%;
            height: 100%;
            max-width: 300px;
            line-height: 1.1em;
            padding: 0px;
            margin: 15px 0;
            background-repeat: no-repeat;
            background-position: left center;
           // background-size: auto 100%;
            font-family: $font_abril;
            @media (max-width: 400px) {
                margin-top: 0px;
            }
        }
    }

    .apoio{

        height: 168px;
        background-image: $img_apoio;
        margin-top: 8em;
        right: 0px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: right center;
    }
}

.svg .navbar-brand {
    background-image: $url_title;
}

.no-svg .sidebar .navbar .navbar-brand {
    width: 280px;
    height: 150px;
    background-image: $url_title_png;
    h1 {
        display: none;
    }
}

#pesquisa,
#consorcios,
#publicacoes,
#contato {
  //  display: none;
}

.content {
   // visibility: hidden;
    background-color: $color_main_b;
    height: 100%;
    @extend .col-sm-7;
    @extend .col-md-8;
    @extend .col-lg-9;


    .texto{
       padding: 3em;
    }
    #consorcios {
        height: 100%;
        #searchFilter {
            width: 100%;
            height: 4em;
            border-bottom: 1px solid white;
            margin: 20px 0px;
            #searchBox {
                max-width: 290px;
            }
            #filter {
                float: left;
            }
        }
        #consorciosThumbs {
            height: 80%;
          //  overflow-y: scroll;
        }
        .thumb {
            background-color: white;
            border: 1px solid $color_thumBorder;
            min-width: 290px;
            max-width: 400px;
            min-height: 170px;
            position: relative;
            float: left;
            margin-bottom: 15px;
            margin-right: 15px;
            cursor: pointer;
            p {
                padding: 15px;
                padding-right: 115px;
                font-size: 1.2em;
            }
            aside {
                position: absolute;
                top: 0;
                right: -5px;
                width: 100px;
                padding: 10px 0;
                height: 100%;
                text-align: right;
                .estado {
                    width: 2.4em;
                    height: 2.4em;
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 10px;
                    color: white;
                    font-size: 1.2em;
                    line-height: 2.4em;
                    text-align: center;
                    vertical-align: middle;
                    background-color: green;
                    @include border-radius(1.2em);
                }
                .areas {
                    position: relative;
                    margin-right: 0px;
                    > div {
                        width: 50px;
                        height: 50px;
                        float: right;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    .triangle {
                        position: absolute;
                        top: -5px;
                        right: 0px;
                        width: 0px;
                        height: 0px;
                        border-right: 4px solid transparent;
                        border-bottom: 5px solid #717171;
                    }
                    .agua {
                        background-color: #8abecb;
                        background-image: $img_agua;
                    }
                    .esgoto {
                        background-color: #eabf6b;
                        background-image: $img_esgoto;
                    }
                    .residuos {
                        background-color: #98cb8a;
                        background-image: $img_residuos;
                    }
                    .regulacao {
                        background-color: #ea806b;
                        background-image: $img_regulacao;
                    }
                }
            }
        }
        .close {
            display: none;
        }
        .consorcioExpanded {
            max-width: none;
            position: absolute;
            z-index: 10;
            cursor: auto;
            margin: 0px;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 100%;
            transform: translate(-100%, 100%);
            p {
                font-size: 2em;
                border-bottom: 1px solid $color_thumBorder;
            }
            .close {
                display: block;
                width: 100%;
                margin-right: 25px;
                margin-bottom: 15px;
            }
        }
    }

    .contactForm{
        input{
            width: 100%;
            max-width: 400px;
        }
        input[type="submit"]{
            max-width: 60px;
        }


    }
}

#waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 330px;
   /* background-image: $wave3, $img_esgoto, $img_torneira, $wave1, $wave2;
    background-position: 5px 260px, right bottom, left top, 10px 185px, 0 220px;
    background-repeat: repeat-x, no-repeat, no-repeat, repeat-x, repeat-x;*/
     background-image: $wave3, $wave1, $wave2;
    background-position: 5px 280px,10px 205px, 0 240px;
    background-repeat: repeat-x;
}
